#main-content {
    display: flex;
    height: 65vh;
    
    & #first-container-image {
        background: url('/assets/images/lampara1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 60%;
        padding: 30px;
        text-shadow: 0px 0px 10px var(--color-terciario);
        
        & .text-image {
            font-size: 50px;
            color: var(--color-quinto);
        }

        & .text-image-small {
            font-size: 20px;
            color: var(--color-quinto);
        }

        & button {
            margin: 3% 0% 0% 0%;
            padding: 2% 5%;
            background-color: var(--color-terciario);
            color: white;
            font-size: 20px;
            border: none;
        }

        & button:hover {
            transition: 0.3s;
            cursor: pointer;
            background-color: var(--color-secundario);
            color: var(--color-terciario);
        }
    }

    & #second-container-image {
        background: url('/assets/images/lampara2.jpg');
        background-position: center;
        background-size: cover;
        width: 40%;
        padding: 30px;
        text-shadow: 0px 0px 10px var(--color-terciario);

        & .text-image {
            font-size: 35px;
            color: var(--color-quinto);
        }
        
        & .text-image-small {
            font-size: 20px;
            color: var(--color-quinto);
        }

        & .text-price {
            padding: 3% 0% 0% 0%;
            font-size: 25px;
            color: var(--color-quinto);
        }

        & button {
            margin: 3% 0% 0% 0%;
            padding: 3% 6%;
            background-color: var(--color-terciario);
            color: white;
            font-size: 20px;
            border: none;
        }

        & button:hover {
            transition: 0.3s;
            cursor: pointer;
            background-color: var(--color-secundario);
            color: var(--color-terciario);
        }
    }
}